/* RegisterPage.module.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .registerForm {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .registerForm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .formGroup h4 {
    text-align: left;
    margin-bottom: 5px; /* Reducción del margen inferior */
    color: #333;
  }
  
  .inputField {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .inputField:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
  }
  
  .errorMessage {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submitButton {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
  }
  
  .submitButton:hover {
    background-color: #3e8e41;
  }
  
  .submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  