.footer {
  position: static; /* Asegura que esté fijo al fondo */
  bottom: 0; /* Lo posiciona al fondo */
  width: 100%; /* Ocupa todo el ancho de la página */
  display: flex; /* Flexbox para centrar contenido */
  justify-content: center; /* Centra contenido horizontalmente */
  align-items: center; /* Centra contenido verticalmente */
  padding: 20px;
  text-align: center;
  background-color: #3d3a3a; /* Color de fondo */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para destacarlo */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.footerContent {
  max-width: 1200px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
  padding: 20px;
  display: flex; /* Flexbox para alinear elementos */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alinear verticalmente */
}

.logo {
  margin-right: 20px; /* Espacio entre logo y contenido */
}

.logoImage {
  width: 190px; /* Tamaño del logo */
  height: auto;
}

.info, .branches, .socialMedia {
  margin-right: 20px; /* Espacio entre secciones */
}

.info h4, .branches h4, .socialMedia h4 {
  margin-bottom: 10px; /* Espacio entre título y contenido */
}

.socialLink {
  margin-right: 10px; /* Espacio entre enlaces */
  color: #fff; /* Blanco */
  text-decoration: none; /* Sin subrayado */
}

.socialLink:hover {
  color: #ccc; /* Gris claro al pasar el mouse */
}

p {
  color: #cac7c7;
}