.footer {
  background-color: #383636; /* Negro */
  color: #fff; /* Blanco */
  padding: 20px;
  text-align: center;
  position: relative;/* Fijo al fondo de la página */
  bottom: 0; /* Abajo */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Por encima de otros elementos */
}

.footerContent {
  max-width: 1200px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
  padding: 20px;
  display: flex; /* Flexbox para alinear elementos */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alinear verticalmente */
}

.logo {
  margin-right: 20px; /* Espacio entre logo y contenido */
}

.logoImage {
  width: 190px; /* Tamaño del logo */
  height: auto;
}

.info, .branches, .socialMedia {
  margin-right: 20px; /* Espacio entre secciones */
}

.info h4, .branches h4, .socialMedia h4 {
  margin-bottom: 10px; /* Espacio entre título y contenido */
}

.socialLink {
  margin-right: 10px; /* Espacio entre enlaces */
  color: #fff; /* Blanco */
  text-decoration: none; /* Sin subrayado */
}

.socialLink:hover {
  color: #ccc; /* Gris claro al pasar el mouse */
}

p {
  color: #cac7c7;
}