.navbar {
    background-color: #3b3838;
    padding: 20px;
    margin-bottom: 100px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
}

.otherRoutes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: solid;
    margin: 15px;
}
  
.navbarLogo {
    max-width: 400px;
    height: auto;
}