body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  padding: 20px;
  margin-top: 70px;
  min-height: 100vh; /* Asegura el uso de toda la pantalla */
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.filterContainer {
  margin-top: 2px;
}

.dateTitle {
  margin-right: 10px;
}

.dateInput {
  padding: 5px;
}

.appointmentsListContainer {
  margin: auto; /* Centra horizontal y verticalmente */
  display: flex;
  flex-direction: column; /* Ordena los turnos en columna */
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.appointmentsListContainer::-webkit-scrollbar {
  display: none;
}

.appointmentItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #444343;
  border: 1px solid #424242;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}